<app-navbar></app-navbar>
<a href="https://goo.gl/maps/aHpx2QnahFhkaLhL6" class="flex items-center space-x-2">
  <div class="w-10 h-10 bg-gray-300 rounded-full"></div>
  <div>
    <h3 class="text-lg font-semibold">Ubicación</h3>
    <p class="text-gray-500">Ver ubicación en mapa</p>
  </div>
</a>
<a href="#" class="flex items-center space-x-2">
  <div class="w-10 h-10 bg-gray-300 rounded-full"></div>
  <div>
    <h3 class="text-lg font-semibold">Ubicación</h3>
    <p class="text-gray-500">Ver ubicación en mapa</p>
  </div>
</a>

<app-footer></app-footer>
