
<div class="flex h-full">
  <div class="w-1/2 ">
    <img src="../../../assets/images/cabañaof.png">
  </div>
  <div class="w-1/2 ml-auto text-3xl">
    Somos la mejor opcion para unos dias de vacaciones en familia en el departamento del Casanare
  </div>
</div>
<div class="bg-2ndImage bg-cover bg-center h-screen">
  <section  class="flex w-140 h-100 grow-1">
    <img src="../../../assets/images/11.jpg" alt="">
    <img src="../../../assets/images/12.jpg" alt="">
    <img src="../../../assets/images/13.jpg" alt="">
    <img src="../../../assets/images/14.jpg" alt="">
  </section>
</div>


