section{
  display: flex;
  width: 37.5rem;
  height: 26.8rem;
}
section img{
  width: 0px;
  flex-grow: 1;
  object-fit: cover;
  opacity: .8;
  transition: .5s ease;
}
section img:hover{
  cursor: crosshair;
  width: 18.75rem;
  opacity: 1;
  filter: contrast(120%);
}

@media screen and (max-width: 768px) {
  section {
    width: 16rem;
    height: 13rem;
  }

  section img:hover {
    width: 7rem;
  }
}
